n8n-workflows/escalation-handler.json
{
  "name": "VAPI Escalation Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-escalation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "vapi-escalation",
      "notes": "Production URL: https://[your-instance].app.n8n.cloud/webhook/vapi-escalation — set this as the server URL in the create_escalation tool definition in VAPI."
    },
    {
      "parameters": {
        "jsCode": "// Extract escalation data from VAPI tool call payload\nconst body = $input.first().json.body;\n\nif (!body || !body.message) {\n  throw new Error('Invalid VAPI webhook payload: missing body.message');\n}\n\nconst message = body.message;\nconst toolCallList = message.toolCallList;\n\nif (!toolCallList || toolCallList.length === 0) {\n  throw new Error('No tool calls in VAPI message');\n}\n\nconst toolCall = toolCallList[0];\nconst args = toolCall.function?.arguments || toolCall.arguments || {};\nconst parsedArgs = typeof args === 'string' ? JSON.parse(args) : args;\n\nconst now = new Date();\n\nreturn [{\n  json: {\n    toolCallId: toolCall.id,\n    callerName: parsedArgs.caller_name || 'Unknown',\n    callerEmail: parsedArgs.caller_email || '',\n    preferredTime: parsedArgs.preferred_time || 'Not specified',\n    category: parsedArgs.category || 'Other',\n    escalationReason: parsedArgs.escalation_reason || 'No reason provided',\n    callId: parsedArgs.call_id || message.call?.id || '',\n    timestamp: now.toISOString(),\n    timestampReadable: now.toLocaleString('en-NG', { timeZone: 'Africa/Lagos' })\n  }\n}];"
      },
      "id": "extract-escalation-data",
      "name": "Extract Escalation Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "application": "={{ $env.AIRTABLE_BASE_ID }}",
        "table": "Escalations",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Caller Name": "={{ $json.callerName }}",
            "Caller Email": "={{ $json.callerEmail }}",
            "Category": "={{ $json.category }}",
            "Escalation Reason": "={{ $json.escalationReason }}",
            "Appointment Time": "={{ $json.preferredTime }}",
            "Call Booked": true,
            "Status": "New",
            "Call ID": "={{ $json.callId }}"
          }
        },
        "options": {}
      },
      "id": "airtable-create-escalation",
      "name": "Create Airtable Escalation",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [680, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "REPLACE_WITH_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable — RelayPay"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM_EMAIL }}",
        "toEmail": "={{ $env.ESCALATION_EMAIL }}",
        "subject": "=[Escalation] New support request — {{ $('Extract Escalation Data').first().json.callerName }}",
        "emailType": "html",
        "message": "=<h2 style=\"color:#1B2E5E;\">New Escalation — RelayPay Voice Agent</h2>\n<p>A customer has been escalated from the voice support agent and requires follow-up.</p>\n<table style=\"border-collapse:collapse;width:100%;font-family:sans-serif;\">\n  <tr><td style=\"padding:8px;border:1px solid #ddd;\"><strong>Caller Name</strong></td><td style=\"padding:8px;border:1px solid #ddd;\">{{ $('Extract Escalation Data').first().json.callerName }}</td></tr>\n  <tr><td style=\"padding:8px;border:1px solid #ddd;\"><strong>Email</strong></td><td style=\"padding:8px;border:1px solid #ddd;\">{{ $('Extract Escalation Data').first().json.callerEmail }}</td></tr>\n  <tr><td style=\"padding:8px;border:1px solid #ddd;\"><strong>Category</strong></td><td style=\"padding:8px;border:1px solid #ddd;\">{{ $('Extract Escalation Data').first().json.category }}</td></tr>\n  <tr><td style=\"padding:8px;border:1px solid #ddd;\"><strong>Preferred Callback Time</strong></td><td style=\"padding:8px;border:1px solid #ddd;\">{{ $('Extract Escalation Data').first().json.preferredTime }}</td></tr>\n  <tr><td style=\"padding:8px;border:1px solid #ddd;\"><strong>Reason</strong></td><td style=\"padding:8px;border:1px solid #ddd;\">{{ $('Extract Escalation Data').first().json.escalationReason }}</td></tr>\n  <tr><td style=\"padding:8px;border:1px solid #ddd;\"><strong>Call ID</strong></td><td style=\"padding:8px;border:1px solid #ddd;\">{{ $('Extract Escalation Data').first().json.callId }}</td></tr>\n  <tr><td style=\"padding:8px;border:1px solid #ddd;\"><strong>Timestamp (WAT)</strong></td><td style=\"padding:8px;border:1px solid #ddd;\">{{ $('Extract Escalation Data').first().json.timestampReadable }}</td></tr>\n</table>\n<p style=\"margin-top:16px;\">Please follow up with the caller at their preferred time. This record has been logged in Airtable.</p>",
        "options": {}
      },
      "id": "send-escalation-email",
      "name": "Send Escalation Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [900, 300],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "SMTP — RelayPay"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format the success response back to VAPI\nconst data = $('Extract Escalation Data').first().json;\n\nreturn [{\n  json: {\n    results: [\n      {\n        toolCallId: data.toolCallId,\n        result: `Thank you, ${data.callerName}. Your request has been logged and a member of the RelayPay support team will contact you at ${data.callerEmail} at your preferred time: ${data.preferredTime}. Is there anything else before we end the call?`\n      }\n    ]\n  }\n}];"
      },
      "id": "format-success-response",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 300]
    },
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 540]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM_EMAIL }}",
        "toEmail": "={{ $env.ESCALATION_EMAIL }}",
        "subject": "[URGENT] Escalation workflow failed — manual follow-up required",
        "emailType": "text",
        "message": "=The VAPI escalation handler workflow failed with the following error:\n\n{{ $json.execution?.error?.message || 'Unknown error' }}\n\nExecution ID: {{ $json.execution?.id || 'N/A' }}\nWorkflow: VAPI Escalation Handler\n\nPlease check n8n execution logs and follow up manually with any callers who may have been affected.",
        "options": {}
      },
      "id": "fallback-error-email",
      "name": "Fallback Error Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [460, 540],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "SMTP — RelayPay"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Extract Escalation Data", "type": "main", "index": 0 }]
      ]
    },
    "Extract Escalation Data": {
      "main": [
        [{ "node": "Create Airtable Escalation", "type": "main", "index": 0 }]
      ]
    },
    "Create Airtable Escalation": {
      "main": [
        [{ "node": "Send Escalation Email", "type": "main", "index": 0 }]
      ]
    },
    "Send Escalation Email": {
      "main": [
        [{ "node": "Format Success Response", "type": "main", "index": 0 }]
      ]
    },
    "Format Success Response": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    },
    "Error Trigger": {
      "main": [
        [{ "node": "Fallback Error Email", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "errorWorkflow": "VAPI Escalation Handler"
  },
  "meta": {
    "description": "Synchronous VAPI tool call handler for escalation. Receives escalation data from VAPI (caller name, email, preferred time, category, reason), creates an Airtable record in the Escalations table, sends a notification email to the support team, and returns a confirmation message back to VAPI. Includes an Error Trigger for fallback notification if the workflow fails.",
    "notes": "SETUP: (1) Replace all credential IDs. (2) Set env vars: AIRTABLE_BASE_ID, SMTP_FROM_EMAIL, ESCALATION_EMAIL. (3) Configure the Error Trigger by setting this workflow as its own error workflow in Settings."
  }
}
